input{
    background-color:#2c2e31 !important;
  }
  .btn-primary{
    color: #d1d0c5;
  background-color: #2c2e31;
  border:none;
  }
  .btn-primary:hover{
    color: #323437;
  background-color: #d1d0c5;
  }
  .card{
    background-color: #323437 !important;
  }
  .card-header{
    background-color:  #e2b714 !important;
  }
  .btn-success{
    background-color:  #e2b714 !important;
  }
  .card-body{
    background-color: #323437 !important;
  }
  body{
  background-color: #323437 !important;
  color: #d1d0c5 !important;
  }
  .content-wrapper{
    background-color: #323437 !important;
  }
  .breadcrumb-item a{
    color:white !important;
  }